# See http://help.github.com/ignore-files/ for more about ignoring files.
.*
# except
# dependencies
/node_modules
/tests
/tmp

# misc
/connect.lock
/libpeerconnection.log
Thumbs.db
/coverage/*
*.orig
/*.iml
npm-debug.log
